@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,800&family=Shantell+Sans:ital,wght@1,600&display=swap');
body{
    padding: 3%;
    font-family: "Shantell Sans", serif;
}
p{
    font-family: "Source Code Pro", serif;
}